.CDC{
    display: flex;
}

.imgcarrusel{
    width: 30% !important;
}

.fa-circle-left{
    font-size: 2.7rem;
    margin: 2% 0% 2% 0%;
    color: #FFBD59;
}

.DESCRIP{
    margin: 0% 0% 0% 5%;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
}

.DESCRIP > div > i{
    font-size: 1.8rem;
    margin: 1% 0% 0% 80%;
}
