body{
    background-color: blanchedalmond;
    background-image: url(/Front-end/Img/MonumentoGaitana.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.Titulo{
    color: white;
    font-size: xxx-large;
    margin: 10% 0 10% 0;
    text-transform: uppercase;
}

.Sombra{
    background:rgba(0, 0, 0, 0.7) ;
    border-radius: 10px;
    position: absolute;
    right: 2%;
    top: 15%;
    width: 30%;
}


.Formulario{
    display: grid;
    justify-content: center;
}

.Letra{
    color: white;
    font-size: larger;
}

.In{
    margin-bottom: 15%;
}

.Boton{
    background-color: #a6e151;
    font-size: larger;
    width: 50%;
    border-radius: 5px;
    color: white;
    margin-bottom: 10%;
    border: none;
}


button:hover{
    background-color: #7ed957;
    transition: background-color 0.3s;
}

.Vinculo{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: larger;
}

.Vinculo:hover{
    color: gray;
    transition: color 0.3s ;
}