body {
    background-color: slateblue;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.icono {
    z-index: 9999;
    /* Asegura que la etiqueta esté por encima de otros elementos */
    color: #f9a72b;
    font-size: 64px;
    margin-left: 2%;
}


.tit{
    font-size: 2em;
    margin-right: 35%;
    margin-left: 3%;
}

/* 
 OPCIONES PARTE SUPERIOR */
 .Opciones {
    color: #fff;
    display: flex;
    background-color: black;
    box-shadow: 0px 5px 0px rgba(255, 255, 255);
    backdrop-filter: blur(20px);
    z-index: 1000;
    position: sticky;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

section {
    min-height: 100vh;
    overflow: hidden;
    padding: 20px 20px;
    box-sizing: border-box;
    display:flex; 
    justify-content: space-between;
}

.Buscador{
    margin-right: 2%;
}


.card {
    width: 360px;
    height: 450px;
    margin: 20px 40px;
    display: inline-table;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}


.card .images {
    text-align: center;
    transition: 0.5s ease-in-out;
}

.card:hover .images {
    transform: translateY(-100px);
}

.card .images img {
    max-width: 60%;
    transition: 0.5s ease-in-out;
}

/* animacion imagen */
.card:hover .images img {
    transform: translate(-20px, -40px);
}

.card .images h3 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 10%;
}


.img{
    width: 100%;
    height: 50% ;
    border-radius: 40px;
}
.card .content {
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

/*animacion debajo de imagen*/
.card:hover .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}



