body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-image: url(/Front-end/Img/Fondo.png);
    justify-content: center;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-bottom: #3e8e41 1px solid;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #262930;
    border-radius: 8px;
    border: 1px solid rgb(173, 173, 173);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(236, 166, 16, 0.973);
}

.dropdown:hover .dropdown-content {
    display: block;
}

div h1 {
    text-align: center;
    padding-bottom: 3%;
    font-weight: bold;
    color: white;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.formulario {
    background-color: #1c1c1c;
    border-radius: 5px;
    width: 50%;
    /* Cambia el ancho a 50% */
    max-width: 600px;
    /* Limita el ancho máximo del contenedor */
    min-width: 320px;
    /* Limita el ancho mínimo del contenedor */
    margin: 5% auto;
    /* Centra el contenedor en la página */
    padding: 20px;
    /* Añade un poco de espacio interno */
    border-radius: 10px;
}


/* Reglas para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
    .formulario {
        width: 80%;
        /* Ajusta el ancho para pantallas pequeñas */
        padding: 15px;
    }
}

.back-button box-icon {
    width: 35px;
    /* Aumenta el ancho del ícono */
    height: 35px;
    /* Aumenta la altura del ícono */
    /* margin-bottom:2%; */
}


.input-container {
    display: flex;
}

label {
    color: #ffffff;
    /* Color del texto */
    font-size: 16px;
    /* Tamaño de la fuente */
    margin-bottom: 0.0px;
    /* Margen inferior para separar el texto del campo de entrada */
    display: block;
    /* Hacer que cada label ocupe una línea completa */
    font-weight: bold;
    /* Negrita */
}

.columna {
    flex: 1;
    margin: 0 10px;
}

.input-container input,
.input-container select {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



button {
    width: 90%;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button {
    background-color: #ff9900;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin: 13% 0% 0% 6%;
}

form button:hover {
    background-color: #c27503;
}

.nav-item:hover {
    background-color: rgba(236, 166, 16, 0.973);
    border-radius: 8px;
    margin: 8px;
}

button {
    width: 40%;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #ff9900;
    font-weight: bold;
    padding: 10px 0;
}

.BUTON {
    border-radius: 10px;
    width: 70%;
    margin: 4% 0% 7% 15%;

}

.BUTON2 {
    border-radius: 10px;
    width: 52%;
    margin: 4% 0% 7% 30%;
    /* display: flex; */
}

.foto {
    background-color: white;
    border-radius: 5%;
    width: 39%;
    height: 70%;

}

.camera-icon {
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    margin-top: 3%;
}

.foto>hr {
    margin: auto;
    width: 70%;
    border: 90;
    border-top: 3px solid #ff9900;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.foto>h3 {
    text-align: center;
    font-size: 24px;


}

.foto>h4 {
    text-align: center;
    margin: 3%;

}

@media (max-width: 1167px) and (max-height: 607px) {
    .foto {
        margin: 0% 0% 4% 30%;
    }
}

.col-xl-7 {
    margin-left: -50%;
}

.col-xl-5 {
    margin-right: 10%;
}

.row {
    flex-wrap: nowrap !important;
}