body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-image: url(/Front-end/Img/Fondo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el fondo cubra la pantalla completa */
}

input::placeholder {
    color: white;
}


h1 {
    text-align: center;
    padding-bottom: 3%;
    font-weight: bold;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajusta la alineación vertical */
    width: 100%;
    padding-top: 8vh; /* Para evitar que el formulario se esconda debajo del encabezado */
    padding-bottom: 50px; /* Asegura que haya espacio para el footer */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
}

.formulario {
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 26px;
    width: 80%; /* Ajusta el ancho del formulario */
    max-width: 900px; /* Limita el ancho máximo para pantallas grandes */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Añade una sombra para dar profundidad */
}

.back-button box-icon {
    width: 35px;
    height: 35px;
}

.input-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en diferentes líneas si es necesario */
}

label {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.input-container .columna1,
.input-container .columna2 {
    flex: 1;
    margin: 0 10px;
}

.input-container input,
.input-container select,
.input-container textarea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333; /* Ajusta el fondo para que coincida con el tema oscuro */
    color: white; /* Ajusta el color del texto */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
}

textarea {
    height: 150px; /* Ajusta la altura del campo de texto */
    resize: vertical; /* Permite que el usuario ajuste la altura */
}

.LoginPqrsf {
    width: 94%;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form  .LoginPqrsf {
    background-color: #ff9900;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0% 0% 0% 6%;
}

form  .LoginPqrsf:hover {
    background-color: #212529;
    border: 1px solid #ff9900;
}

.nav-item:hover {
    background-color: rgba(236, 166, 16, 0.973);
    border-radius: 8px;
    margin: 8px;
}

/*cambiar color icono fecha*/
.date-picker-container {
    position: relative;
    display: inline-block;
}

input.regis {
    padding-right: 30px; /* Espacio para el icono */
}

.is-invalid {
    border-color: orange;
}

.button-container {
       margin-top: 10%;
}

.button-consultar {
    margin-top: 25%;
    margin-left: 0.3%;
}

