body {
    font-family: Arial, sans-serif;
    background-image: url('/Front-end/Img/RegistrarNuevoSitio.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    width: 75%;
    margin: 100px auto 0; /* Ajusta el margen superior según sea necesario */
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
    border-radius: 5px;
    color: white; /* Texto en color blanco para contrastar con el fondo negro */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 50%; /* Ancho ajustado para compensar el relleno */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #4caf50;
}

#fotosSitio {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
  }

button {
    background-color: #4caf50;
    color: white;
    padding: 15px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.form-actions {
    text-align: center;
}

button[type="reset"] {
    margin-left: 5px;
    background-color: #ccc;
    color: #333;
}
