body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(/front-end/img/1000057442_c541d10cbb20c16747de3d43002ddfc8-24_2_2024\,\ 10_24_59\ a.\ m..jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

