body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('/TuTurismoNeiva/Front-end/Img/catedral.png');
    background-size: cover;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo con opacidad */
    border-radius: 10px;
}

.input-container {
    display: flex;
}

.columna {
    flex: 1;
    margin: 20px 0px 0px 15px;
    /* Espacio entre las columnas */
}

.input-container input,
.input-container select {
    width: calc(100% - 20px);
    /* Ancho del 100% menos el margen de 10px a cada lado */
    margin-bottom: 30px;
    /* Espacio entre los inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container select {
    cursor: pointer;
}


button {
    width: 90%;
    padding: 10px;
    background-color: #a6e151;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

}

button:hover {
    background-color: #7ed957;
    transition: background-color 0.3s;
}

.vfinal {
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 5% 2% 2% 0;
}

label {
    color: white;
    font-size: large;
}

.selector {
    height: 45px;
}

.In, .selector {
    color: black;
    background-color: rgba(255, 255, 255, 0.486);
}

.icono {
    position: fixed;
    /* Establece la posición fija para que la etiqueta permanezca en la misma ubicación incluso al desplazarse por la página */
    top: 0;
    /* Lo posiciona en la parte superior de la pantalla */
    left: 0;
    /* Lo posiciona en el lado izquierdo de la pantalla */
    margin: 20px;
    /* Agrega un margen de 20px desde el borde superior e izquierdo */
    z-index: 9999;
    /* Asegura que la etiqueta esté por encima de otros elementos */
    font-size: 45px;
    color: #c1ff72;
}

.icono:hover {
    color: #a6e151;
    transition: color 0.3s;
}

.vfinal:hover{
    color: gray;
    transition: color 0.3s ;
}
