body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

    background-size: cover;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 3%;
    font-size: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo con opacidad */
    border-radius: 10px;
}

.input-container {
    display: flex;
}

.columna {
    flex: 1;
    margin: 3% 5% 0% 5%;
    /* Espacio entre las columnas */
}

.input-container input,
.input-container select {
    width: calc(100% - 20px);
    /* Ancho del 100% menos el margen de 10px a cada lado */
    margin-bottom: 30px;
    /* Espacio entre los inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container > div > input{
    color: black;
    background-color: rgba(255, 255, 255, 0.486);
}



button {
    width: 30%;
    padding: 10px;
    background-color: #a6e151;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
    cursor: pointer;

}

button:hover {
    background-color: #7ed957;
    transition: background-color 0.3s;
}

.ByTC{
    text-align: center;
    color: white;
    margin: 5% 0% 0% 0%;
}

.ByTC > p > a {
    text-decoration: none;
    
}

.ByTC > p {
    font-size: 1.4rem;
    color: white;
    margin: 0% 4% 3% 4%;
}

.vfinal {
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 3% 2% 3% 0;
    font-size: 1.7rem;
}

label {
    color: white;
    font-size: xx-large;
}


.icono {
    position: fixed;
    /* Establece la posición fija para que la etiqueta permanezca en la misma ubicación incluso al desplazarse por la página */

    margin: 20px;
    /* Agrega un margen de 20px desde el borde superior e izquierdo */
    z-index: 9999;
    /* Asegura que la etiqueta esté por encima de otros elementos */
    font-size: 3rem;
    color: #c1ff72;
}

.icono:hover {
    color: #a6e151;
    transition: color 0.3s;
}

.vfinal:hover{
    color: gray;
    transition: color 0.3s ;
}
