body {
    width: 100%;
    content: "";
    background: url('background-pattern.png') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(/Front-end/Img/Fondo.png);
    justify-content: center;
}



.RCRC {
    display: flex;
    justify-content: space-evenly;
}


.fa-heart:hover {
    cursor: pointer;
    color: red;
}

.CJULM {
    display: flex;
    justify-content: space-between;
    margin: 10% 0% 0% 0%;
}

/* ANIMACION DE LA CARTAS E IMAGENES */

/* CSS para el diseño de la tarjeta y el carrusel */

.card {
    width: 18rem;
    margin: 1rem;
    position: relative;
    /* Necesario para posicionar los botones dentro de la tarjeta */
    border: 3px solid #ffbd59 !important;
    border-radius: 15px !important;
}

.image-container-wrapper {
    position: relative;
    /* Posición relativa para los botones */
}

.image-container {
    display: flex;
    overflow: hidden;
    /* Oculta el contenido que se desborda del contenedor */
    width: 100%;
    height: 200px;
    /* Ajusta la altura según sea necesario */
}

.card-img-top {
    min-width: 100%;
    /* Cada imagen ocupa el 100% del contenedor */
}

.imgcarru {
    width: 70% !important;
    margin: 10% 0% 0% 14% !important;
}

.fa-solid {
    color: #ff3e3e;
    font-size: 1.3rem;
}

.BTTLT {
    text-decoration: none !important;
    text-transform: none;
    color: white !important;
    background-color: #ffbd59;
    border-radius: 15px;


}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container input[type="search"] {
    width: 100%;
    padding: 5px 100px 10px 10px;
    border: 2px solid #ffbd59;
    border-radius: 15px;
}

.search-container box-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

/* Estilos para modo oscuro
body.dark-mode {
    background-image: url(/Front-end/Img/Fondo\ tema\ oscuro.png);
    /* Imagen de fondo para modo oscuro 
}

.RCRC h3 {
    color: #f0eaea;
} */