body {
    font-family: Arial, sans-serif;
    background-image: url('/Front-end/Img/sitiosTuristicosR.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px; /* Aumenta el espacio interno del contenedor */
    border-radius: 10px;
    max-width: 70%; /* Ancho máximo del contenedor */
    margin-left: auto;
    margin-right: auto;

    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

h1 {
    color: white; /* Color del texto */
    margin: 0; /* Quita el margen para centrar el título */
    text-align: center; /* Centra el texto horizontalmente */
    
}

#search-button {
    padding: 16px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #7ED957;
    color: white;
}

table {
    width: 100%; /* Cambia el ancho de la tabla para que ocupe todo el contenedor */
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto; /* Centra la tabla horizontalmente */
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

.btn {
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}



