body {
    margin: 0;
    padding: 0;
  }
.background-image {
    position: relative;
    /*width: 100%;
    height: 220vh;*/
    overflow: hidden;
  }

  .background-image::before {
    content: '';
    background-color: gray;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    
  }

  .navbar .d-flex .user .btn{
    margin-left: 10px;
  }

  .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    font-size: 1.5rem; /* Adjust the size of the stars */
    margin-left: 5px; /* Adjust the margin to move stars closer to the label */
  }

  .rating input {
    display: none;
  }

  .rating label {
    color: gray;
    padding: 0;
    margin: 0 2px; /* Adjust margin to bring stars closer together */
    cursor: pointer;
  }

  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: gold;
  }

  .favorite {
    font-size: 1.5rem; /* Adjust the size of the heart icon */
    cursor: pointer;
    color: gray;
    margin-left: 10px; /* Adjust the margin to position the heart icon */
  }

  .favorite.selected {
    color: red;
  }

  .vote-section {
    display: flex;
    align-items: center;
  }

  